@charset "utf-8";
@import "core/setting";
@import "core/css3";
@import "core/_mixin";
%iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend %user-select-none;
}
