@charset "utf-8";
@import "core/setting";
@import "core/css3";
@import "core/_mixin";
%iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend %user-select-none;
}
html,body{
  background-color: #f7f7f7;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.userText{
  text-align: left;
  font-size: 12px;
  color: #aaa;
  &:after{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    @include translateX(-50%);
    content: "";
    width: 260px;
    height: 1px;
    background-color: #f2f2f2;
  }
  >a{
    &:before{
      @extend %iconfont;
      position: relative;
      top: 1px;
      font-size: 13px;
      margin-right: 3px;
    }
    &.time{
      &:before{
        content: "\e600";
      }
    }
    &.time2{
      &:before{
        content: "\e6c1";
      }
    }
    &.view{
      &:before{
        font-size: 15px;
        content: "\e66d";
      }
    }
    &.comment{
      &:before{
        content: "\e6be";
      }
    }
    &.comment2{
      &:before{
        content: "\e664";
      }
    }
    &.collection{
      &:before{
        top: 0;
        font-size: 12px;
        margin-right: 2px;
        content: "\e61d";
      }
    }
    &.collection2{
      &:before{
        top: 0;
        font-size: 12px;
        margin-right: 2px;
        content: "\e648";
      }
    }
    &.praise{
      &:before{
        content: "\e604";
      }
    }
  }
}
.articleList{
  cursor: pointer;
  width: 100%;
  height: auto;
  @include transition();
  >.inner{
    @extend %clearfix;
    box-sizing:border-box;
    padding: 25px 0 40px 0;
    margin: 0 auto;
    width: 1200px;
    height: auto;
    border-bottom: 1px dashed #cfd5da;
    >img{
      border: none;
      display: block;
      float: left;
      width: 200px;
      height: 125px;
      object-fit: fill;
    }
    >.right{
      position: relative;
      text-align: left;
      float: right;
      width: 980px;
      height: 125px;
      >h1{
        position: relative;
        font-size: 20px;
        color: #000;
        >.pro{
          display: inline-block;
          position: relative;
          font-size: 12px;
          color: #000;
          padding: 0 11px;
          border: 1px solid #000;
          line-height: 21px;
          border-radius: 15px;
          top: -3px;
          left: 9px;
          @include transition();
        }
        &:hover{
          >.pro{
            color: #fff;
            border-color: #62ce9f;
            background-color: #62ce9f;
          }
        }
      }
      >h2{
        font-size: 14px;
        color: #666;
        height: 63px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .userName{
        position: absolute;
        display: block;
      }
      .userText{
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: left;
        >a{
          margin-right: 30px;
        }
      }
    }
  }
  &:last-child{
    >.inner{
      border-color: transparent;
    }
  }
}
.banner{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  .banner-index{
    @extend %clearfix;
    margin: 0 auto;
    width: 1200px;
    height: 425px;
    >.left-swiper{
      float: left;
      width: 850px;
      height: 100%;
      background-color: #ccc;
      .swiper-slide{
        position: relative;
        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        p{
          position: absolute;
          width: 100%;
          font-size: 18px;
          color: #fff;
          left: 0;
          bottom: 0;
          display: block;
          height: 75px;
          line-height: 50px;
          background-color: rgba(#000,0.5);
        }
      }
      .swiper-button-next, .swiper-button-prev{
        background: none;
        line-height: 44px;
        >i{
          position: relative;
          display: inline-block;
          font-size: 45px;
          color: #fff;
        }
      }
      .swiper-button-next{
        >i{
          left: -15px;
          @include rotate(-90deg);
        }
      }
      .swiper-button-prev{
        >i{
          right: 5px;
          @include rotate(90deg);
        }
      }
      .swiper-pagination-bullet {
          background: #fff;
          opacity: 1;
      }
      .swiper-pagination-bullet-active {
          background: #62ce9f;
      }
    }
    >.right-user{
      box-sizing: border-box;
      border-top: 3px solid #62ce9f;
      float: right;
      width: 337px;
      height: 100%;
      >.users{
        margin-bottom: 10px;
        box-sizing: border-box;
        padding-top: 70px;
        width: 100%;
        height: 166px;
        border: 3px solid #f9f9f9;
        border-top: none;
        background: url("../img/index/user-bj.png") no-repeat center;
        background-size: cover;
        >p{
          font-size: 14px;
          color: #000;
        }
        >.user-btn{
          position: relative;
          margin: 20px auto 0 auto;
          width: 210px;
          height: 36px;
          >a{
            cursor: pointer;
            width: 90px;
            position: absolute;
            display: block;
            color: #fff;
            font-size: 14px;
            line-height: 36px;
            background-color: #62ce9f;
            @include transition();
            &:hover{
              background-color: #3ac589;
            }
            &.left{
              left: 0;
            }
            &.right{
              right: 0;
            }
          }
        }
      }
      >.item{
        margin-bottom: 2px;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        padding: 0 35px;
        width: 100%;
        height: 60px;
        font-size: 18px;
        line-height: 66px;
        text-align: left;
        color: #fff;
        background: url("../img/index/ico.png") no-repeat 0px 0px;
        &:after{
          display: block;
          content: ">";
          position: absolute;
          left: 120px;
          top: 0;
          color: #fff;
          @include transition();
        }
        &:hover{
          &:after{
            @include translateX(10px);
          }
        }
        &.notice{
          background-position: -5px -4px;
        }
        &.hot{
          background-position: -5px -65px;
        }
        &.test{
          background-position: -5px -132px;
        }
        &.quiz{
          background-position: -5px -196px;
        }
      }
    }
  }
  .listContents{
    margin: 37px auto 0 auto;
    width: 1200px;
    height: 50px;
    >a{
      cursor: pointer;
      line-height: 50px;
      margin: 0 40px;
      position: relative;
      font-size: 18px;
      display: inline-block;
      color: #222;
      &:after{
        position: absolute;
        left: 50%;
        @include translateX(-50%);
        bottom: 0;
        display: block;
        content: "";
        width: 0;
        height: 3px;
        background-color: #62ce9f;
        @include transition();
      }
      &.active{
        &:after{
          width: 100%;
        }
      }
    }
  }
}
.newItem{
  @extend %clearfix;
  margin: 20px auto 0 auto;
  width: 1200px;
  height: auto;
  padding-bottom: 50px;
  border-bottom: 1ps solid #e5e5e5;
  >.item{
    @extend %clearfix;
    position: relative;
    display: none;
    &.active{
      display: block;
    }
    >.list{
      cursor: pointer;
      margin: 0 52px 30px 0;
      float: left;
      width: 260px;
      height: 350px;
      overflow: hidden;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px 0px rgba(204, 204, 204, 0.5);
      @include transition();
      &:nth-child(4n){
        margin-right: 0;
      }
      >img{
        display: block;
        width: 100%;
        height: 195px;
        object-fit: cover;
      }
      >.content{
        text-align: left;
        box-sizing: border-box;
        padding: 0 20px;
        width: 100%;
        height: auto;
        >h1{
          line-height: 33px;
          font-size: 14px;
          color: #000;
        }
        >.tag{
          display: inline-block;
          padding: 1px 8px;
          border-radius: 20px;
          font-size: 12px;
          color: #fff;
          background-color: #cbcbcb;
        }
        .userText{
          position: relative;
          margin-top: 18px;
          display: block;
          padding-bottom: 10px;
        }
        >.time{
          margin-top: 11px;
          @extend %clearfix;
          >img{
            display: block;
            float: left;
            width: 22px;
            height: 22px;
            border-radius: 50%;
          }
          >span{
            margin-left: 8px;
            float: left;
            font-size: 14px;
            color: #666;
          }
          >a{
            position: relative;
            top: 2px;
            float: right;
            font-size: 12px;
            color: #999;
          }
        }
      }
      &:hover{
        @include translateY(-10px);
        box-shadow: 0 3px 15px 1px rgba(204,204,204,0.7);
      }
    }
    >.seeMore{
      position: absolute;
      cursor: pointer;
      right: 10px;
      bottom: -20px;
      color: #888;
      font-size:16px;
    }
  }
}
.selected{
  height: auto;
  background-color: #fff;
  >.selectedInner{
    @extend %clearfix;
    width: 1200px;
    margin: 0 auto;
    height: auto;
    >.interlocution{
      box-sizing: border-box;
      padding-top: 30px;
      @extend %clearfix;
      >span{
        display: block;
        float: left;
        display: block;
        width: 135px;
        height: 55px;
        line-height: 55px;
        border-radius: 35px;
        font-size: 16px;
        color: #62ce9f;
        border: 1px solid #62ce9f;
      }
    }
    >.selectedItem{
      cursor: pointer;
      @extend %clearfix;
      width: 100%;
      height: 190px;
      border-bottom: 1px solid #ebebeb;
      >.selected-left{
        float: left;
        box-sizing: border-box;
        padding: 59px 0 0 55px;
        >img{
          width: 50px;
          height: 50px;
          border-radius: 50px;
        }
        >p{
          font-size: 12px;
          color: #222
        }
      }
      >.selected-right{
        width: 1035px;
        float: right;
        height: auto;
        .articleList{
          >.inner{
            padding-bottom: 15px;
            width: 100%;
            >.right{
              margin-top: -8px;
              box-sizing: border-box;
              width: 816px;
              height: auto;
              padding-bottom: 25px;
              >.img{
                margin:15px 0 15px 0;
                @extend %clearfix;
                position: relative;
                width: 100%;
                height: auto;
                >img{
                  margin-right: 10px;
                  display: block;
                  float: left;
                  width: 115px;
                  height: 80px;
                  object-fit: cover;
                }
              }
              >h1{
                @include transition();
                font-size: 24px;
                color: #222;
              }
              >h2{
                line-height: 25px;
                font-size: 16px;
              }
              >.users{
                position: relative;
                width: 100%;
                height: 22px;
              }
              .userText{
                color: #d8d8d8;
                &:after{
                  background-color: transparent;
                }
              }
            }
          }
          &:hover{
            >.inner>.right>h1{
              color: #62ce9f;
            }
          }
        }
      }
    }
  }
}
